body {
    margin:5% 7% 5%;
    font-family: 'Montserrat';
}

.row {
    margin:0;
}
.textAreas{
    height:2%;
}

.form-control {
    height: 4rem;
}

.hamza {
    background-color: #fff2d0;
    width:100%;
    height:100%;
}

.hamza p {
    font-size:1.3rem;
    font-weight: 500;
}

.hamza h1 {
    font-weight:900;
    padding-top: 3%;
    font-family: 'ubuntu';
    padding-bottom:3%;
}

.fab-button {
    --bs-btn-padding-x: 1rem;
    --bs-btn-border-radius: 2rem;
    --bs-btn-font-size: 1.5rem;
    left:85%;
}
.dropup .hide-toggle.dropdown-toggle::after {
    display: none !important;
  }

li {
    border: solid 2px;
    border-radius: 0.6rem;
    margin-bottom: 10%;
    height: 100%;
    list-style-type: none;
    text-align: center;
    padding:2%;
    word-wrap: break-word;
}

.todoInput {
    background-color: #fff7e3;
    border:1px solid;
    resize: none;
    border-radius: 5px;
    height: 475px;
    width: 800px;
    
}
/* Media */

@media (min-width: 768px){
.col-md-6 {
    flex: 0 0 auto;
    width: 70%;
    }
    .textAreas {
        width:30%;
    }
    .fab-button {
        margin-right: 1rem;
    }
}

    @media (min-width: 992px){
    .col-lg-6 {
        flex: 0 0 auto;
        width: 70%;
    }
    .textAreas {
        width:30%;
    }
    .fab-button {
        left:85%;
    }
    }
    @media (max-width: 768px){
            .fab-button {
                margin-right: 1rem;
            }
        }